@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Satoshi", "sans-serif";

  --breakpoint-2xsm: 375px;
  --breakpoint-xsm: 425px;
  --breakpoint-3xl: 2000px;

  --color-current: currentColor;
  --color-transparent: transparent;
  --color-white: #ffffff;
  --color-primary: #0987ec;
  --color-secondary: #e6f3fd;
  --color-secondary-dark: #2b3a46;
  --color-stroke: #e8e8e8;
  --color-night: #111928;
  --color-stroke-dark: #27303e;

  --color-dark: #111928;
  --color-dark-2: #1f2a37;
  --color-dark-3: #374151;
  --color-dark-4: #4b5563;
  --color-dark-5: #6b7280;
  --color-dark-6: #9ca3af;
  --color-dark-7: #d1d5db;
  --color-dark-8: #e5e7eb;

  --color-gray: #eff4fb;
  --color-gray-dark: #122031;
  --color-gray-1: #f6f8fb;
  --color-gray-2: #f3f4f6;
  --color-gray-3: #e5e7eb;
  --color-gray-4: #d1d5db;
  --color-gray-5: #9ca3af;
  --color-gray-6: #6b7280;
  --color-gray-7: #374151;

  --color-green: #22ad5c;
  --color-green-dark: #1a8245;
  --color-green-light: #2cd673;
  --color-green-light-1: #10b981;
  --color-green-light-2: #57de8f;
  --color-green-light-3: #82e6ac;
  --color-green-light-4: #acefc8;
  --color-green-light-5: #c2f3d6;
  --color-green-light-6: #daf8e6;
  --color-green-light-7: #e9fbf0;

  --color-red: #f23030;
  --color-red-dark: #e10e0e;
  --color-red-light: #f56060;
  --color-red-light-2: #f89090;
  --color-red-light-3: #fbc0c0;
  --color-red-light-4: #fdd8d8;
  --color-red-light-5: #feebeb;
  --color-red-light-6: #fef3f3;

  --color-blue: #3c50e0;
  --color-blue-dark: #1c3fb7;
  --color-blue-light: #5475e5;
  --color-blue-light-2: #8099ec;
  --color-blue-light-3: #adbcf2;
  --color-blue-light-4: #c3cef6;
  --color-blue-light-5: #e1e8ff;

  --color-orange-light: #f59460;

  --color-yellow-dark: #f59e0b;
  --color-yellow-dark-2: #d97706;
  --color-yellow-light: #fcd34d;
  --color-yellow-light-4: #fffbeb;

  --heading-1: 3.75rem 4.5rem; /* 60px 72px */
  --heading-2: 3rem 3.625rem; /* 48px 58px */
  --heading-3: 2.5rem 3rem; /* 40px 48px */
  --heading-4: 2.1875rem 2.8125rem; /* 35px 45px */
  --heading-5: 1.75rem 2.5rem; /* 28px 40px */
  --heading-6: 1.5rem 1.875rem; /* 24px 30px */
  --body-2xlg: 1.375rem 1.75rem; /* 22px 28px */
  --text-sm: 0.875rem 1.375rem; /* 14px 22px */
  --text-xs: 0.75rem 1.25rem; /* 12px 20px */

  --spacing-4-5: 1.125rem;
  --spacing-5-5: 1.375rem;
  --spacing-6-5: 1.625rem;
  --spacing-7-5: 1.875rem;
  --spacing-8-5: 2.125rem;
  --spacing-9-5: 2.375rem;
  --spacing-10-5: 2.625rem;
  --spacing-11: 2.75rem;
  --spacing-11-5: 2.875rem;
  --spacing-12-5: 3.125rem;
  --spacing-13: 3.25rem;
  --spacing-13-5: 3.375rem;
  --spacing-14: 3.5rem;
  --spacing-14-5: 3.625rem;
  --spacing-15: 3.75rem;
  --spacing-15-5: 3.875rem;
  --spacing-16: 4rem;
  --spacing-16-5: 4.125rem;
  --spacing-17: 4.25rem;
  --spacing-17-5: 4.375rem;
  --spacing-18: 4.5rem;
  --spacing-18-5: 4.625rem;
  --spacing-19: 4.75rem;
  --spacing-19-5: 4.875rem;
  --spacing-21: 5.25rem;
  --spacing-21-5: 5.375rem;
  --spacing-22: 5.5rem;
  --spacing-22-5: 5.625rem;
  --spacing-24-5: 6.125rem;
  --spacing-25: 6.25rem;
  --spacing-25-5: 6.375rem;
  --spacing-26: 6.5rem;
  --spacing-27: 6.75rem;
  --spacing-27-5: 6.875rem;
  --spacing-28-5: 7.125rem;
  --spacing-29: 7.25rem;
  --spacing-29-5: 7.375rem;
  --spacing-30: 7.5rem;
  --spacing-31: 7.75rem;
  --spacing-32-5: 8.125rem;
  --spacing-33: 8.25rem;
  --spacing-34: 8.5rem;
  --spacing-34-5: 8.625rem;
  --spacing-35: 8.75rem;
  --spacing-36-5: 9.125rem;
  --spacing-37-5: 9.375rem;
  --spacing-39: 9.75rem;
  --spacing-39-5: 9.875rem;
  --spacing-40: 10rem;
  --spacing-42-5: 10.625rem;
  --spacing-44: 11rem;
  --spacing-45: 11.25rem;
  --spacing-46: 11.5rem;
  --spacing-46-5: 11.625rem;
  --spacing-47-5: 11.875rem;
  --spacing-49: 12.25rem;
  --spacing-50: 12.5rem;
  --spacing-52: 13rem;
  --spacing-52-5: 13.125rem;
  --spacing-54: 13.5rem;
  --spacing-54-5: 13.625rem;
  --spacing-55: 13.75rem;
  --spacing-55-5: 13.875rem;
  --spacing-59: 14.75rem;
  --spacing-60: 15rem;
  --spacing-62-5: 15.625rem;
  --spacing-65: 16.25rem;
  --spacing-67: 16.75rem;
  --spacing-67-5: 16.875rem;
  --spacing-70: 17.5rem;
  --spacing-72-5: 18.125rem;
  --spacing-73: 18.25rem;
  --spacing-75: 18.75rem;
  --spacing-90: 22.5rem;
  --spacing-94: 23.5rem;
  --spacing-95: 23.75rem;
  --spacing-100: 25rem;
  --spacing-103: 25.75rem;
  --spacing-115: 28.75rem;
  --spacing-125: 31.25rem;
  --spacing-132-5: 33.125rem;
  --spacing-150: 37.5rem;
  --spacing-171-5: 42.875rem;
  --spacing-180: 45rem;
  --spacing-187-5: 46.875rem;
  --spacing-203: 50.75rem;
  --spacing-230: 57.5rem;
  --spacing-242-5: 60.625rem;

  --max-width-2.5: 0.625rem;
  --max-width-3: 0.75rem;
  --max-width-4: 1rem;
  --max-width-7: 1.75rem;
  --max-width-9: 2.25rem;
  --max-width-10: 2.5rem;
  --max-width-10.5: 2.625rem;
  --max-width-11: 2.75rem;
  --max-width-13: 3.25rem;
  --max-width-14: 3.5rem;
  --max-width-15: 3.75rem;
  --max-width-16: 4rem;
  --max-width-22.5: 5.625rem;
  --max-width-25: 6.25rem;
  --max-width-30: 7.5rem;
  --max-width-34: 8.5rem;
  --max-width-35: 8.75rem;
  --max-width-40: 10rem;
  --max-width-42.5: 10.625rem;
  --max-width-44: 11rem;
  --max-width-45: 11.25rem;
  --max-width-46.5: 11.625rem;
  --max-width-60: 15rem;
  --max-width-70: 17.5rem;
  --max-width-90: 22.5rem;
  --max-width-94: 23.5rem;
  --max-width-100: 25rem;
  --max-width-103: 25.75rem;
  --max-width-125: 31.25rem;
  --max-width-132.5: 33.125rem;
  --max-width-142.5: 35.625rem;
  --max-width-150: 37.5rem;
  --max-width-180: 45rem;
  --max-width-203: 50.75rem;
  --max-width-230: 57.5rem;
  --max-width-242.5: 60.625rem;
  --max-width-270: 67.5rem;
  --max-width-280: 70rem;
  --max-width-292.5: 73.125rem;

  --max-height-35: 8.75rem;
  --max-height-70: 17.5rem;
  --max-height-90: 22.5rem;
  --max-height-300: 18.75rem;
  --max-height-550: 34.375rem;

  --min-width-22.5: 5.625rem;
  --min-width-42.5: 10.625rem;
  --min-width-47.5: 11.875rem;
  --min-width-75: 18.75rem;

  --z-index-999999: 999999;
  --z-index-99999: 99999;
  --z-index-9999: 9999;
  --z-index-999: 999;
  --z-index-99: 99;
  --z-index-9: 9;
  --z-index-1: 1;

  --opacity-65: 0.65;
  --opacity-5: 0.05;

  --aspect-ratio-4-3: 4 / 3;
  --aspect-ratio-21-9: 21 / 9;

  --bg-video: url("../images/video/video.png");

  --content-icon-copy: url("../images/icon/icon-copy-alt.svg");

  --transition-width: width;
  --transition-stroke: stroke;

  --border-6: 6px;
  --border-10: 10px;
  --border-12: 12px;

  --shadow-default: 0px 4px 7px 0px rgba(0, 0, 0, 0.14);
  --shadow-error: 0px 12px 34px 0px rgba(13, 10, 44, 0.05);
  --shadow-card: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  --shadow-card-2: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
  --shadow-card-3: 0px 2px 3px 0px rgba(183, 183, 183, 0.5);
  --shadow-card-4: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadow-card-5: 0px 1px 3px 0px rgba(0, 0, 0, 0.13);
  --shadow-card-6: 0px 3px 8px 0px rgba(0, 0, 0, 0.08);
  --shadow-card-7: 0px 0.5px 3px 0px rgba(0, 0, 0, 0.18);
  --shadow-card-8: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  --shadow-card-9: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  --shadow-card-10: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  --shadow-switcher: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 2px #ffffff,
    inset 0px -1px 1px rgba(0, 0, 0, 0.1);
  --shadow-switch-1: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  --shadow-switch-2: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  --shadow-datepicker: -5px 0 0 #1f2a37, 5px 0 0 #1f2a37;
  --shadow-1: 0px 1px 2px 0px rgba(84, 87, 118, 0.12);
  --shadow-2: 0px 2px 3px 0px rgba(84, 87, 118, 0.15);
  --shadow-3: 0px 8px 8.466px 0px rgba(113, 116, 152, 0.05),
    0px 8px 16.224px 0px rgba(113, 116, 152, 0.07),
    0px 18px 31px 0px rgba(113, 116, 152, 0.1);
  --shadow-4: 0px 13px 40px 0px rgba(13, 10, 44, 0.22),
    0px -8px 18px 0px rgba(13, 10, 44, 0.04);
  --shadow-5: 0px 10px 30px 0px rgba(85, 106, 235, 0.12),
    0px 4px 10px 0px rgba(85, 106, 235, 0.04),
    0px -18px 38px 0px rgba(85, 106, 235, 0.04);
  --shadow-6: 0px 12px 34px 0px rgba(13, 10, 44, 0.08),
    0px 34px 26px 0px rgba(13, 10, 44, 0.05);
  --shadow-7: 0px 18px 25px 0px rgba(113, 116, 152, 0.05);

  --drop-shadow-card: 0px 8px 13px rgba(0, 0, 0, 0.07);
  --drop-shadow-1: 0px 1px 0px #e2e8f0;
  --drop-shadow-2: 0px 1px 4px rgba(0, 0, 0, 0.12);
  --drop-shadow-3: 0px 0px 4px rgba(0, 0, 0, 0.15);
  --drop-shadow-4: 0px 0px 2px rgba(0, 0, 0, 0.2);
  --drop-shadow-5: 0px 1px 5px rgba(0, 0, 0, 0.2);

  --animate-linspin: linspin 1568.2353ms linear infinite;
  --animate-easespin: easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  --animate-left-spin: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  --animate-right-spin: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  --animate-ping-once: ping 5s cubic-bezier(0, 0, 0.2, 1);
  --animate-rotating: rotating 30s linear infinite;
  --animate-topbottom: topbottom 60s infinite alternate linear;
  --animate-bottomtop: bottomtop 60s infinite alternate linear;
  --animate-spin-1-5: spin 1.5s linear infinite;
  --animate-spin-2: spin 2s linear infinite;
  --animate-spin-3: spin 3s linear infinite;
  --animate-line1: line 10s infinite linear;
  --animate-line2: line-revert 8s infinite linear;
  --animate-line3: line 7s infinite linear;

  @keyframes linspin {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes easespin {
    12.5% {
      transform: rotate(135deg);
    }
    25% {
      transform: rotate(270deg);
    }
    37.5% {
      transform: rotate(405deg);
    }
    50% {
      transform: rotate(540deg);
    }
    62.5% {
      transform: rotate(675deg);
    }
    75% {
      transform: rotate(810deg);
    }
    87.5% {
      transform: rotate(945deg);
    }
    100% {
      transform: rotate(1080deg);
    }
  }

  @keyframes left-spin {
    0% {
      transform: rotate(130deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(130deg);
    }
  }

  @keyframes right-spin {
    0% {
      transform: rotate(-130deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(-130deg);
    }
  }

  @keyframes rotating {
    0%,
    100% {
      transform: rotate(360deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }

  @keyframes topbottom {
    0%,
    100% {
      transform: translate3d(0, -100%, 0);
    }
    50% {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes bottomtop {
    0%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(0, -100%, 0);
    }
  }

  @keyframes line {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(100%);
    }
  }

  @keyframes line-revert {
    0%,
    100% {
      transform: translateY(100%);
    }
    50% {
      transform: translateY(0);
    }
  }

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
